@import "./resources/fonts";
@import "./resources/colors";
@import "./resources/vars";

@import 'reset'; // use to reset all default styles

// NEUMORPHISM !!
%boxShadow {
  background: linear-gradient(145deg, #ffffff, $white);
  box-shadow: 5px 5px 16px 0 rgba(0, 0, 0, .2),
  -8px -8px 24px 0 rgba(210, 210, 210, .5)
}

%insetShadow {
  background: $white;
  box-shadow: inset 4px 4px 10px 0 rgba(0, 0, 0, .2),
  inset -4px -4px 10px 0 rgba(255, 255, 255, .5)
}

body {
  background-color: $white;
  font-family: Raleway, sans-serif !important;
}

// specific styles

#app {
  width: 100%;
  height: 100vh;

  display: flex;
}

nav {
  background-color: white;
  position: fixed;
  top: 50px;
  left: 20px;

  padding: 10px;

  border-radius: 10px;
  @extend %boxShadow;

  width: 100px;
  height: calc(100% - 100px);

  display: flex;
  flex-direction: column;
  align-items: center;

  > .icon-medium {
    padding-bottom: 20px;
    border-bottom: 1px solid $white;
  }

  #navigation {
    height: 100%;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px 15px;
    margin: 30px 0;

    > img {
      margin-bottom: 5px;
    }

    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      background-color: $white;

      &#reload {
        img {
          transition: 0.5s ease;
          transform: rotateZ(-360deg);
        }
      }
    }

    &#reload {
      margin-bottom: initial;
    }

    &#reload:active {
      @extend %insetShadow;
    }

    &.selected {
      background-color: $purple;
      color: $white;
      box-shadow: $box-shadow;

      transform: translateX(35px);
    }
  }
}

#content {
  position: relative;
  width: calc(100% - 200px);

  margin-left: 200px;
  padding: 50px 20px 50px 0;

  .page {
    position: absolute;
    top: 50px;
    width: 99%;
    height: 100%;

    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s ease;

    &.displayed {
      z-index: 1;
      opacity: 1;
    }
  }
}

#home-about {

  .paragraph {
    font-size: 24px;
  }

  div {
    position: relative;
    left: 50%;

    width: 140px;
    height: 140px;

    background-color: $white;
    border-radius: 50%;

    transform: translateX(-50%);

    display: flex;
    justify-content: center;
    align-items: center;
  }

}

#dashboard {
  #countries {
    margin-top: 20px;

    .search-bar {
      width: 60%;
      height: 50px;

      font-size: 18px;

      padding: 0px 10px;

      border-radius: 10px;
      @extend %insetShadow;

      color: $darkgray;
    }
  }
}

#page-table {
  table {

    %borderLight {
      border: 1px solid rgb(185, 185, 185);
    }

    %bgLight {
      background-color: $white;
    }

    %bgLightDark {
      background-color: $purple;
    }

    width: 100%;

    margin-top: 20px;

    table-layout: fixed;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    @extend %bgLight;

    thead {
      tr {
        th {
          padding: 10px;
          @extend %borderLight;
          @extend %bgLightDark;
          color: white;
          font-weight: bold;
          font-size: 18px;
        }
      }
    }

    tbody {
      tr {
        td {
          width: 50%;
          padding: 10px;

          @extend %borderLight;
          font-size: 16px;
          cursor: pointer;
        }

        &:hover {
          background-color: aliceblue;
        }

        background-color: #ffffff;

        &:nth-child(even) {
          @extend %bgLight;
        }
      }
    }
  }

  .pagination {
    margin-top: 20px;


    display: flex;
    justify-content: center;
    align-items: center;

    .page-number {
      width: 50px;
      height: 50px;

      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }

      border-radius: 10px;
      @extend %boxShadow;

      color: $purple;
      font-size: 24px;
      font-weight: bold;

      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;

      &.middle {
        background-color: $darkgray;

        display: flex;
        justify-content: center;
        align-items: center;

        &:active, &:focus {
          @extend %boxShadow;
        }

      }

      &:active, &:focus {
        @extend %insetShadow;
      }
    }

    .pagination-dot {
      width: 100%;
      height: 100%;

      background-color: $darkgray;
      border-radius: 10px;

      display: flex;
      justify-content: center;
      align-items: center;
      .three-dot {
        position: relative;

        width: 12px;
        height: 12px;

        border-radius: 50%;
        background-color: $white;

        &:after, &:before {
          position: absolute;
          content: "";
          display: inline-block;

          width: 12px;
          height: 12px;

          border-radius: 50%;
          background-color: $white
        }

        &:after {
          right: -15px;
        }

        &:before {
          left: -15px;
        }


      }
    }

    .page-number-current {
      color: $white;

      width: 100%;
      height: 100%;

    }

  }
}

#detailByCountry {
  #detail-back-button {
    margin-top: -35px;
    float: left;

    padding: 10px 5px;
    border-radius: 10px;
    background-color: $purple;
    box-shadow: 5px 5px 16px 0 rgba(0, 0, 0, .2),
    -8px -8px 24px 0 rgba(210, 210, 210, .5);
    color: $white;

    &:active, &:focus {
      box-shadow: inset 4px 4px 10px 0 #61678c,
      inset -4px -4px 10px 0 #838bbe;
    }
  }
}

// popular classes
.card-wrapper {
  &.wrapper-inline {
    display: flex;
    flex-wrap: wrap;

    .total {
      width: 250px;
      margin-right: 30px;
      margin-bottom: 20px;
    }

  }
}

.card {
  border-radius: 5px;
  @extend %boxShadow;

  margin-bottom: 20px;

  &.card-padding {
    padding: 10px;
  }
}

.icon {

  &.icon-medium {
    width: 64px;
    height: 64px;
  }

  &.icon-small {
    width: 36px;
    height: 36px;
  }

  &.icon-big {
    width: 128px;
    height: 128px;
  }

}

.number {
  font-family: Museo Moderno, sans-serif;
  color: $purple;
}

.date {
  color: $lightred;
}

.paragraph {
  color: $purple;

  margin: {
    top: 20px;
    bottom: 20px;
  };
}

// use in dashboard and country detail
.total {
  position: relative;
  width: 250px;
  margin-right: 30px;
  margin-bottom: 20px;

  div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .total-title {
    font-weight: bold;
  }

  .progress {
    position: absolute;
    bottom: -20px;
    right: -20px;

    height: auto;
    width: auto;

    .indicator {
      width: 12px;
      height: 12px;

      margin-right: 10px;

      &.negative {
        transform: rotate(-90deg);
      }

      &.positive {
        transform: rotate(90deg);
      }
    }

  }
}

.deaths, .negative {
  color: firebrick;
}

.recovered, .positive {
  color: green;
}

.progression {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 64px;
}

.chart-container {
  height: 650px;

  #seekChart {
    height: 100% !important;
  }
}

